<launch>
  <node pkg="choreonoid_ros" name="choreonoid" type="choreonoid"
        args="$(find amphibious_choreonoid)/projects/tank_sim.cnoid" output="screen">
    <rosparam command="load" file="$(find amphibious_choreonoid)/config/field.yaml" />
    <rosparam command="load" file="$(find amphibious_choreonoid)/config/amphibious_tank_params.yaml" />
  </node>

  <arg name="robot0" default="AmphibiousTank" />
  <group ns="$(arg robot0)">
    <node name="calc_motions" pkg="amphibious_choreonoid_motions" type="calc_motions" output="screen">
      <rosparam command="load" file="$(find amphibious_choreonoid_motions)/config/amphibious_tank.yaml" />
      <rosparam command="load" file="$(find amphibious_choreonoid)/config/amphibious_tank_params.yaml" />
      <param name="robot" value="$(arg robot0)" />
      <remap from="image_raw" to="camera/image" />
      <remap from="image_result" to="camera/image_result" />
    </node>
    <node name="image_view" pkg="image_view" type="image_view" >
      <remap from="image" to="camera/image_result" />
    </node>
  </group>
</launch>
